header 
    nav.basic
    ul
        li  
            a(href="/") home 
        li
            a(href="/search") search
    if loggedIn
        nav
            ul
                li 
                    a(href="/videos/upload") Upload
                li
                    a(href="/users/edit") Edit profile
                li 
                    a(href="/users/logout") Logout
                li
                    a(href=`/users/${loggedInUser._id}`)
                        if loggedInUser.avatarUrl === ""
                            span 👻
                        else
                            if loggedInUser.avatarUrl
                                if loggedInUser.avatarUrl.includes("github")
                                    img.header__avatar(src=loggedInUser.avatarUrl)
                                else
                                    img.header__avatar(src=loggedInUser.avatarUrl)
    else 
        nav
            ul 
                li 
                    a(href="/login") Login 
                li   
                    a(href="/join") Join