extends ../layout


block content
    form(method="post")
        div
            label(for="change_password_inuse") Present password
            input(type="password", name="presentPassword", placeHolder="password in use")#change_password_inuse
        div 
            label(for="change_password_new") New password
            input(type="password", name="newPassword", placeHolder="new password")#change_password_new
        div 
            label(for="change_password_confirm") New password Confirm
            input(type="password", name="newPassword2", placeHolder="new password Confirmation")#change_password_confirm
        input(type="submit", value="Change password")
    if errorMessage
        span=errorMessage        